.users {
    background: bisque;
    padding: 10px;
}

.notFound {
    color: red;
    font-weight: bold;
    background-color: #517cbd;
    padding: 10px;
}

.manipulationContainer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

.searchFriendsButton {
    height: 25px;
    /*width: 80px;*/
    border-radius: 4px;
    background-color: goldenrod;
    font-weight: bold;
    padding: 3px 5px;
    box-shadow: 1px 1px 3px #517cbd;
}

.searchFriendsButtonPassive {
    background-color: gray;
}

.input {
    width: 100%;
    background-color: lightblue;
    border-radius: 5px;
}

.button {
    padding: 5px;
    margin: 5px;
}
