.header {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    grid-area: h;
    background-color: lemonchiffon;
}

.header img {
    margin: 5px 15px;
}

.login {
    font-size: 20px;
    color: red;
}

