.header {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    grid-area: h;
    background-color: lemonchiffon;
    padding: 5px;
}

.header img {
    margin: 5px 15px;
}

.login {
    margin: 5px 15px;
    font-size: 20px;
    color: red;
    text-align: right;
}

.logoutButton {
    padding: 3px;
    border-radius: 3px;

}

