.pagination {
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    overflow: hidden;
    overflow-x: scroll;
    width: 400px;
}

.page {
    cursor: pointer;
    padding: 0 5px;
    margin: 5px;
    background-color: aquamarine;
    border-radius: 3px;
    border: 1px solid lightblue;
}

.selectedPage {
    background-color: red;
}
