.sidebar {
  /*padding: 10px;*/
  width: 100%;
}

.header {
  color: whitesmoke;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 15px;
}

.friendItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
