.profilePage {
    /*display: flex;*/
    /*flex-flow: nowrap row;*/
    padding: 10px;
    background-image: url('https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 250px;
}

.profileInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.imageWrapper {
    border-radius: 5px;
    box-shadow: #517cbd 3px 3px 3px;
    margin-right: 50px;
    width: 100%;
    /*max-width: 300px;*/
}


.left {
    max-width: 300px;
    margin-right: 20px;
    /*background-color: rgba(55,55,55,55);*/
}

.descriptionBlock {

}

.socials {
    width: 240px;
}

.fullName {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 42px;
    line-height: 44px;
}


.jobAlert {
    margin-top: 40px;
}

.jobAlert p {
    line-height: 110%;
}

.editButtonWrapper {
    text-align: right;
}

.editButton {
    padding: 5px;
    margin: 5px;
    background-color: lightblue;
    border: 0.5px solid blue;
    border-radius: 5px;
    align-self: flex-end;
    justify-self: flex-end;
}


.followButton {
    height: 20px;
    width: 70px;
    border-radius: 3px;
    background-color: aquamarine;
    font-weight: bold;
    padding: 3px;
}

.followButton::first-letter {
    text-transform: uppercase;
}

.followButton:disabled {
    opacity: .4;
}

.unfollow {
    background-color: gray;
}
