.login {
    background-image: linear-gradient(55deg, lightblue, darkcyan);
    padding: 20px;
}

checkbox {
    width: 30px;
    height: 30px;
    display: block;
    background-color: lightblue;
 }

checkbox:checked {
    background-color: gold;
}
