.app-wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 1200px;
    max-height: 100vh;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 9fr;
    /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;
}










/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
