body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


a {
  color: unset;
  text-decoration: none;
}

/*резеты*/
body, canvas, div, input, button, select, textarea {
    margin: 0;
    padding: 0;
}

/*из-за этого не видно чекбокс*/
/*select, input {*/
/*     appearance: none;*/
/*}*/

/*сброс стилей инпутов*/
input, button, select, textarea {
  outline: 0;
  border: none;
}

::-moz-focus-inner {
  border: 0;
  outline: 0;
}

button {
  cursor: pointer;
}
