.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messagesField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 10px;
    background-color: #ffffff50;
    height: 85vh;
}

.messages {

    background-color: #55555530;
    padding: 10px;
    border-radius: 5px;

    /*height: 500px;*/
    overflow-y: scroll;

}

.addField {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 10px;

}
.textarea {
    width: 80%;
    height: 60px;
    resize: none;
    padding: 10px;
}
.button {
    width: 80px;
    height: 50px;
    margin-left: 10px;
}

