.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messagesField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 10px;
    background-color: #ffffff50;
    height: 85vh;
}

.messages {

    background-color: #55555530;
    padding: 10px;
    border-radius: 5px;

    /*height: 500px;*/
    overflow-y: scroll;

}

.addField {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-top: 10px;
}

.buttonsWrapper {
    position: relative;

}

.textarea {
    width: 80%;
    /*height: 60px;*/
    /*padding: 5px;*/
    background-color: whitesmoke;
    position: relative;
}
.button {
    width: 80px;
    height: 50px;
    margin-left: 10px;
}
.resetButton {
    position: absolute;
    top: 5px;
    left: -20px;
}
.error {
    border: 1px solid red ;
}

